{% extends "base.html" %}
{% block body %}
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="{{ url_for('static', filename='assets/img/avataaars.svg')}}" alt="..." /> <!--RELINKED-->
                <!-- Masthead Heading-->
                <h6 class="masthead-heading text-uppercase mb-0">Hi! I am Taufiq, an AI/ML enthusiast</h6>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0"> This is one of my personal Machine Learning projects. You can check up your Kidney health within a few seconds based on some of your clinical data using this Machine Leanring based Tele-diagnosis WebApp. If you're interested to learn more about the project please visit the About section. Thank you.</p>
            </div>
        </header>

        {% include 'form.html' %}
        {% include 'sample_table.html' %}

    {% endblock %}
