<!-- Saple table -->
<div class="container-fluid px-1 py-5 mx-auto bg-primary">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            
            <div class="card">
            <h2>Sample Personal and Clinical Data</h2>
                <h6>Here are some sample data. You can either use these to test the tele-diagnosis system or fill-up your own personal and clinical information to checkup your kidney.</h6>

            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Sex</th>
                        <th scope="col">Age</th>
                        <th scope="col">Specific Gravety</th>
                        <th scope="col">Albumin</th>
                        <th scope="col">Serum Creatinine</th>
                        <th scope="col">Hemoglobine</th>
                        <th scope="col">Red Blood Cells</th>
                        <th scope="col">Pus Cell Clumps</th>
                        <th scope="col">Hypertension</th>
                        <th scope="col">Diabetes Mellitias</th>
                        <th scope="col">Class</th>
                    </tr>
                    </thead>

                    <tbody>
                  
                    <tr>
                        <th scope="row">1</th>
                        <td>Sherlok</td>
                        <td>Male</td>
                        <td>58</td>
                        <td>1.025</td>
                        <td>0</td>
                        <td>1.1</td>
                        <td>15.8</td>
                        <td>normal</td>
                        <td>notpresent</td>
                        <td>no</td>
                        <td>no</td>
                        <td>notckd</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Ana</td>
                        <td>Female</td>
                        <td>60</td>
                        <td>1.010</td>
                        <td>1.0</td>
                        <td>3.9</td>
                        <td>13.8</td>
                        <td>NaN</td>
                        <td>notpresent</td>
                        <td>yes</td>
                        <td>no</td>
                        <td>ckd</td>
                    </tr>

                    <tr>
                        <th scope="row">3</th>
                        <td>Enola</td>
                        <td>Female</td>
                        <td>17</td>
                        <td>1.025</td>
                        <td>0.0</td>
                        <td>1.0</td>
                        <td>14.2</td>
                        <td>normal</td>
                        <td>notpresent</td>
                        <td>no</td>
                        <td>no</td>
                        <td>notckd</td>
                    </tr>

                    <tr>
                        <th scope="row">4</th>
                        <td>Thomas</td>
                        <td>Male</td>
                        <td>65</td>
                        <td>1.015</td>
                        <td>4.0</td>
                        <td>1.5</td>
                        <td>11.0</td>
                        <td>NaN</td>
                        <td>present</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>ckd</td>
                    </tr>

                    </tbody>
                </table>
            </div> 
            </div>
        </div>
    </div>
</div>